@model IEnumerable<LTWeb05_Bai03.Models.SanPham>

@{
    ViewBag.Title = "hienthiSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DanhSachSanPham</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuongDan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaPhanLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuongDan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhanLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
       
    </tr>
}

</table>
